body {
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;

}


button {
    margin-top: 4px;
    background-color: #9336B4;
    /* color: #5f9341; */
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    color: white;

}

input {
    width: 100%;
    border: 1px solid #9336B4;
    padding: 10px;
    box-sizing: border-box;
}

#delete-btn {
    border: 1px solid #9336B4;
    background-color: white;
    color: #9336B4;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    
}

li {
    margin-top: 5px;

}

li a {
    color: #9336B4;
}